<div class="col-md-6 mb-3">
  <div class="profile-card px-3">
    <div class="row">
      <div class="col-4">
        <img class="img-fluid" src="{{this.avatarUrl}}" alt="{{this.username}}">
      </div>
      <div class="col-8">
        <h5 class="card-title">{{this.fullname}}</h5>
        <p class="city">{{this.city}}</p>
        <p class="highlights"><i>{{this.highlights}}</i></p>
      </div>
    </div>
  </div>
</div>