<div class="col-md-6 buddie-card">
  <a href="/buddies/{{this.id}}">
    <div class="px-3">
      <div class="row">
        <figure class="col-12 profile-img">
          <img class="img-fluid" src="/images/buddie-profile.jpg" alt="{{this.username}}">
        </figure>
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">{{this.fullname}}</h3>
            <div class="rate">7.9</div>
          </div>
          <p class="city">{{this.city}}</p>
          
          <p class="highlights"><i>{{this.highlights}}</i></p>
        </div>
      </div>
    </div>
  </a>
</div>
