<div id='map' style='width: auto; height: 300px;'></div>


<div class="search-page">
  <header class="top-section">
    <div class="container">
      {{#if users}}
        <h1>You have {{users.length}} buddies in <span class="city">{{city}}</span></h1>
        <p class="lead">Connect to people</p>
      {{else}}  
        <h1>No buddies found in <span class="city">{{city}}</span> yet</h1>
        <p class="lead">Connect to people</p>

      {{/if}}
    </div>
  </header>                
            
  <section class="jumbotron search-results" id="jumbo-bottom">

  </section>
  
  {{#if users}}
    <section class="buddies-list pt-3 pb-4">
      <div class="container-fluid">
        <div class="row">
          {{#each users}}
          <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/buddies/{{this.id}}" class="buddie-card">
              <div class="card">
                <div class="card-top">
                  <div class="avatar-img" style="background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,1)), url('{{this.avatarUrl}}') no-repeat center; background-size: cover;">
                    <div class="align-end">
                      <h2 class="fullname">{{this.fullname}}</h2>
                      <p class="city">{{this.city}}</p>
                      <p class="highlights"><i>{{this.highlights}}</i></p>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <p class="bio">{{this.biography}}</p>
                </div>
              </div>
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </section>
  {{/if}}
</div>

<input type="hidden" id='city' value="{{city}}">

<script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

  const generateMarker = (data) => {
    console.log(data.location.coordinates)
    var marker = new mapboxgl.Marker()
    .setLngLat(data.location.coordinates)
    .addTo(map);
  } 

  let city = document.getElementById('city').value;
  
  axios({
      method: 'get',
      url: `http://localhost:3000/api/search?city=${city}`
    })
    .then(data => {
      console.log(data.data.users);
        data.data.users.forEach((user) => {
        generateMarker(user);
      })
    })
    .catch(error => {
      console.error(error);
    })

const coordinatesArray = document.getElementById('center').value.split(',');
 mapboxgl.accessToken = 'pk.eyJ1IjoiaGNvcnRhIiwiYSI6ImNqa2N5ZGdsbjBicHUzcG8wNXEycG4xa3EifQ.L806Ib3WtffrlfOnIf-dcA';
  let map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v9',
    zoom: 12,
    //center: coordinatesArray
  });

  var marker = new mapboxgl.Marker()
  .setLngLat(coordinatesArray)
  .addTo(map);

</script>